@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


.text_wrapper h1 {
  font-weight: 700;
  font-size: 34px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.fonts {
  font-family: 'Poppins', sans-serif;
}

.js,.js1,.js2,.js3,.js4, .df1 {
  width: 291px;
  height: 56px;
}

.el-menu-item-group__title {
  padding: 0!important;
}

.hover {
  transition: .3s ease-in-out;
  background: #0057FF;
  border-radius: 4px;
}

body {
  background: linear-gradient(117.42deg, #1E212D 0%, #21273D 0.01%, #1D202E 91.49%);
  height: 100vh;
}

.el-switch.is-checked .el-switch__core .el-switch__action {
  margin-left: -55px;
}

.el-menu {
  background: #272C44;
  width: 354px;
  height: 100vh;
  border-right: 0px !important;
}

.el-menu-item-group > ul {
  padding: 0 23px !important;
  cursor: pointer;
}

.font-size {
  font-size: 21px;
}

.df {
  display: flex;
  align-items: center;
}

.text {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
}

.el-form-item {
  margin: 0 46px 6px;
}

.el-menu-item:hover {
  background: transparent !important;
}
.margin_4 {
  margin: 0 4px;
}
.border {
  width: 32px;
  height: 32px;
  border: 2px solid #FFFFFF;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 9px;
}

.left {
  padding: 0 10px !important;
}

.text_margin {
  margin: 0 5px;
}

.text_margin_2 {
  margin: 0 3px;
}

.span {
  background: #FD316210;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  line-height: 20px;
  color: #FD3162;
}
.flex-box {
  margin: 35px 0;
}
.text_wrapper {
  padding: 43px 30px 0;
}

.text_2 {
  margin: 0 16px;
}
.flex_2{
  margin: 0 20px;
}

.flex_3{
  margin: 0 15px;
}
.margin_2 {
  margin: 0 6px;
}

.margin_box {
  margin: 21px 0;
}

.color {
  color: #FFFFFF!important;
}
.img{
  width: 32px;
  height: 35px;
}
.null{
  padding-left: 0!important;
}

.align-items{
  display: flex;
  align-items: end;
  height: 44vh;
}
.el-switch {
  --el-switch-on-color: #E5EFFF;
  --el-switch-off-color: #FFFFFF10;
}
.el-switch__core {
  border-radius: 20px!important;
  border: none;
  width: 60px;
  height: 30px;
}
.el-switch__core .el-switch__action {
  margin: 1px 30px;
  width: 24px;
  height: 25px;
  background: #0057FF!important;
}
